{{#if user}}

<a href="/api/users/registro" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" > ir a registro </a> 
<a href="/api/carro/agregar" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" > ir a agregar productos </a> 
<a href="/api/carro/Listado" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" > ir ver mi carro </a> 
<a href="/api/users/logout" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" > cerrar sesion </a> 
<a href="/api/users/home"  class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" > ir a home </a> 
<a href="/api/productos/Listado" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" > ir de compras </a> 
<a href="/api/carro/eliminar" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" > Eliminar productos del carrito </a> 
<div class="avatars">
<img src="{{Avatar}}" width="50" height="50">
</div>
<div>
<h1 > {{message}}</h1>
 <h1>{{welcome}} </h1>
<h1>{{phone}}</h1>
 <h1> {{Age}}</h1>
<h1>{{firstName}}</h1>
<h1> {{lastName}}</h1>
</div>



{{else}}
   <form action="/api/users/inicio" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" > usuario</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
   
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  
   </div>
  
  <button type="submit" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" value="send">enviar</button>
  <a href="/api/users/registro" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" >  registrarse </a> 
</form> 
  
  {{/if}}

